<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Carrinho</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<p>Carrinho de Compras</p>
<ion-list>
  <ion-item *ngFor="let item of items">
    <ion-thumbnail item-start>
      <img [src]="item.produto.imageUrl || 'assets/imgs/prod.jpg'">
    </ion-thumbnail>
    <h2>{{item.produto.nome}}</h2>
    <p>Preço: {{item.produto.preco | currency}}</p>
    <p>Quantidade: 
      <ion-icon name="remove-circle" (click)="change(item.produto, -1)" color="primary"></ion-icon>
      {{item.quantidade}}
      <ion-icon name="add-circle" (click)="change(item.produto, 1)" color="primary"></ion-icon>
    </p>
    <ion-icon name="trash" item-end (click)="remove(item.produto)" color="danger"></ion-icon>
    <p>Subtotal: {{item.produto.preco * item.quantidade | currency}}</p>
  </ion-item>
</ion-list>
<ion-item-divider></ion-item-divider>
<ion-item *ngIf="getTotal() > 0">
  <p>Total: {{getTotal() | currency}}</p>
</ion-item>
<ion-item *ngIf="getTotal() <= 0">
  <p>Carrinho vazio</p>
</ion-item>
<button ion-button block (click)="goOn()">Continuar Comprando</button>
<button ion-button color="secondary" block (click)="checkout()">Finalizar Pedido</button>
</ion-content>